<h2 align="center">자유게시판</h2>
<% @posts.each do |t| %>
    <a href="/posts/show/<%= t.id %>">
        <%= t.title %> /
        <%= t.content %>
    </a>
    <hr/>
<% end %>
<div align="right"><a href="/posts/new">[글 쓰기]</a></div>